// alphas
$alpha-primary = .87
$alpha-secondary = .54
$alpha-hint = .38
$alpha-divider = .12

// order exception = required border radii
// spacings
$spacing-xxs = 4px
$spacing-xs = $spacing-xxs * 2
$spacing-sm = $spacing-xxs * 3
$spacing-md = $spacing-xxs * 4
$spacing-lg = $spacing-xxs * 6
$spacing-xl = $spacing-xxs * 8
$spacing-xlg = $spacing-xxs * 12
$spacing-xxl = $spacing-xxs * 16

// border radii
$border-radius-circle = 50%
$border-radius-sm = $spacing-xxs / 2
$border-radius-md = $spacing-xxs

// colors base
$color-black = #000
$color-blue-gray-500 = #607d8b
$color-red-500 = #f44336
$color-white = #fff
$color-yellow-500 = #ffeb3b
$color-yellow-600 = #fdd835
$color-yellow-700 = #fbc02d

// colors usage
$color-body = #f7f7f7
$color-card = $color-white
$color-disabled = $color-blue-gray-500
$color-divider = rgba($color-black, $alpha-divider)
$color-error = $color-red-500
$color-primary = $color-yellow-500
$color-primary-tint = $color-yellow-600
$color-primary-dark = $color-yellow-700
$color-text = rgba($color-black, $alpha-primary)
$color-text-hint = rgba($color-black, $alpha-hint)
$color-text-reverse = $color-white
$color-text-secondary = rgba($color-black, $alpha-secondary)

// fonts families
$font-family-default = 'Roboto', sans-serif

// fonts sizes
$font-size-label = 12px
$font-size-helper = 14px
$font-size-button = 14px
$font-size-body = 16px
$font-size-important = 18px
$font-size-card-heading = 20px
$font-size-heading = 24px
$font-size-heading-lg = 36px
$font-size-large = 56px

// fonts weights
$font-weight-light = 300
$font-weight-normal = 400
$font-weight-medium = 500

// grid
$cols = 12

// screen sizes
$screen-sm-min = 768px

// scroll bars
$scroll-bar-max = 20px

// shadows
$shadow-z1 = 0 1px 3px rgba($color-black, .12), 0 1px 2px rgba($color-black, .24)
$shadow-z2 = 0 3px 6px rgba($color-black, .16), 0 3px 6px rgba($color-black, .23)

// text indents
$text-hide = -9999px

//transitions
$transition-duration-sm = .1s
$transition-duration-md = .2s
$transition-duration-lg = .4s
