// container
.go-header-container
  padding-top $spacing-xxl

// module
.go-header
  padding $spacing-xs $spacing-sm

// children
.go-header-heading
  padding-left $spacing-sm
  padding-right $spacing-sm
