// params
@require '../_variables'

// mixins
@require '../_mixins'

// modules
@require '_go-container.sm'
@require '_go-form.sm'
@require '_go-header.sm'
@require '_go-heading.sm'
@require '_go-product.sm'

// helper
@require '_go-helper.sm'
